<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NFCReaderUsageDescription
NFCReaderUsageDescription
NFCReaderUsageDescription
NFCReaderUsageDescription</key>
	<string>This app scans NFC tags to teach math and physics through interactive objects.</string>
</dict>
</plist>
